@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen bg-slate-100 text-slate-900 antialiased font-sans;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-60;
  }
}

button:disabled {
    @apply cursor-not-allowed opacity-60;
}